USE [master]
GO
/****** Object:  Database [dbRITAutomation]    Script Date: 02.03.2022 12:46:20 ******/
CREATE DATABASE [dbRITAutomation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRITAutomation', FILENAME = N'Q:\SQLSERVER\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbRITAutomation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbRITAutomation_log', FILENAME = N'Q:\SQLSERVER\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbRITAutomation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRITAutomation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRITAutomation]
GO
/****** Object:  Table [dbo].[Markers]    Script Date: 02.03.2022 12:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Lat] [float] NOT NULL,
	[Long] [float] NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Markers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Markers] ON 

INSERT [dbo].[Markers] ([ID], [Lat], [Long], [Description]) VALUES (3, 50.9584267233599, 101.25, N'Лес
')
INSERT [dbo].[Markers] ([ID], [Lat], [Long], [Description]) VALUES (5, 63.0748656905866, -138.8671875, N'Канада')
INSERT [dbo].[Markers] ([ID], [Lat], [Long], [Description]) VALUES (6, -68.8322976704226, -90.5905151367188, N'Ледник')
SET IDENTITY_INSERT [dbo].[Markers] OFF
GO
USE [master]
GO
